name: Test

on:
  push:
    branches-ignore:
      - master
      - development

jobs:
  test-with-mysql:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.3, 2.4, 2.5, 2.6]
        db_version: [5.7]
    runs-on: ubuntu-latest
    container:
      image: ruby:${{ matrix.ruby }}
    services:
      db:
        image: mysql:${{ matrix.db_version }}
        env:
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
    steps:
      - uses: actions/checkout@v2
      - name: Config Database for MySQL
        run: cp ./config/database.mysql.yml ./config/database.yml
      - name: Cache gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ matrix.ruby }}-mysql-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ matrix.ruby }}-mysql-
            ${{ matrix.ruby }}-
      - name: Install & run tests
        run: ./.github/actions/install-and-run-tests.sh
        env:
          DB_HOST: db
  test-with-postgres:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.3, 2.4, 2.5, 2.6]
        db_version: [9.5]
    runs-on: ubuntu-latest
    container:
      image: ruby:${{ matrix.ruby }}
    services:
      db:
        image: postgres:${{ matrix.db_version }}
        env:
          LANG: C.UTF-8
          POSTGRES_INITDB_ARGS: --locale=C.UTF-8
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: Config Database for Postgres
        run: cp ./config/database.postgres.yml ./config/database.yml
      - name: Cache gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ matrix.ruby }}-postgres-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ matrix.ruby }}-postgres-
            ${{ matrix.ruby }}-
      - name: Install & run tests
        run: ./.github/actions/install-and-run-tests.sh
        env:
          DB_HOST: db
  test-with-sqlite:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.3, 2.4, 2.5, 2.6]
    runs-on: ubuntu-latest
    container:
      image: ruby:${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v2
      - name: Config Database for SQLite
        run: cp ./config/database.sqlite.yml ./config/database.yml
      - name: Cache gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ matrix.ruby }}-sqlite-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ matrix.ruby }}-sqlite-
            ${{ matrix.ruby }}-
      - name: Install & run tests
        run: ./.github/actions/install-and-run-tests.sh
